@import "@fontsource-variable/inter-tight";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: "Inter Tight Variable", sans-serif;

    --background: 240 10% 6.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 6.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 20.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72.2% 56.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 240 3.7% 20.9%;
    --input: 240 3.7% 20.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 20 85% 50%;
    --chart-2: 30 80% 55%;
    --chart-3: 240 3.7% 35%;
    --chart-4: 60 9% 40%;
    --chart-5: 0 72.2% 56.6%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background pb-32 text-foreground;
  }
  main {
    @apply container mx-auto max-w-md;
  }
}

@layer utilities {
  .header {
    @apply fixed inset-x-0 top-0 z-50 mx-auto h-16 max-w-md border-b bg-background p-4;
  }
  .loader {
    @apply pointer-events-none fixed inset-0 z-[9999] h-dvh animate-pulse bg-background/60;
  }
}
